/*変数*/

:root {
    --f1: 2.44em;
    /* 39.04px */
    --f2: 1.95em;
    /* 31.2px */
    --f3: 1.56em;
    /* 24.96px */
    --f4: 1.25em;
    /* 20px */
    --f5: 1em;
    /* 16px */
    --f6: 0.8em;
    /* 12.8px */
    --textcolor: #384352;
    --accentcolor: #41A9A5;
    --myfont: Yu Gothic;
    --myw: 1200px;
    /* 標準幅 */
    --content-padding-side: 16px;
}

h1, h2, h3, h4, h5, h6, li, a {
    color: var(--textcolor);
}

.mycountents-header-left {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 50px;
    /*仮*/
}

.wide-hr {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #E5DFD7;
}

/*企業一覧*/

.recruitments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recruitments-title {
    padding-top: 50px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #333333;
}

.recruitments__list {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(50% - 15px);
    background-color: #fff;
    border-radius: 10px;
    z-index: 3;
}

.recruitments__list__thumbnail {
    width: 220px;
}

.recruitments__list__texts {
    width: calc(100% - 240px);
}

.recruitments_bg {
    position: relative;
}

.recruitments_bg::after {
    content: "";
    position: absolute;
    display: block;
    width: 100vw;
    height: 100%;
    top: 0;
    left: -150px;
    background-color: rgba(196, 196, 196, 0.1);
    z-index: 0;
}

.recruitments__list__texts__position {
    margin-top: 9px;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.6);
}

.recruitments__list__texts__title {
    margin-right: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #000000;
}

.recruitments__list__texts__company {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.recruitments__list__texts__company img {
    height: 20px;
    width: 20px;
    margin-right: 6px;
}

@media (min-width: 1150px) {
    .recruitments_bg::after {
        left: calc(-150px - (100vw - 1280px) / 2);
    }
}